* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  color: #fff;
}
body a {
  color: #fff;
}

header {
  height: 120vh;
  background: #00000083;
  background-image: url("/public/backgrounds/bg-1.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
  height: 100vh;
}
header header nav ul li a {
  text-decoration: none;
}
header h1 {
  font-size: 50px;
  padding-top: 24%;
  text-align: center;
}
main {
  height: 100vh;
  background: url(/public/backgrounds/bg-4.jpeg) #0000007a;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
}
main div h1 {
  text-decoration: none;
}
#contact {
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
}
footer {
  height: 12vh;
}
footer p a {
  text-decoration: none;
}
nav {
  height: 10vh;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/public/backgrounds/bg-2.png) #0000007a;
  background-size: cover;
  background-position: center;
  background-blend-mode: color-burn;
}

nav ul li {
  display: inline;
  text-decoration: none;
  font-size: 36px;
  font-weight: 500;
  padding-left: 2vw;
  padding-right: 2vw;
}
nav li a {
  text-decoration: none;
  display: inline-flex;
  color: #000;
}

article {
  background: url("/public/backgrounds/bg-3.jpg") #0000007a center;
  background-size: cover;
  background-blend-mode: color-burn;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
article p {
  font-size: 26px;
  padding-top: 3vh;
  width: 50vw;
  text-align: center;
  padding-bottom: 3vh;
}
footer p {
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2.5vh;
}
#main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#baza,
#avansat,
#intermediar {
  background: #0000004a;
  height: 20rem;
  width: 16rem;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff85;
}
#baza:hover,
#avansat:hover,
#intermediar:hover {
  background: #000;
  transition: 1s;
  transform: scale(1.2);
  color: #fff;
}
#baza:hover::after,
#avansat:hover::after,
#intermediar:hover::after {
  transform: scale(1);
  transition: 5s;
}
#contact p {
  font-size: 28px;
  padding-top: 5vh;
  text-align: center;
  width: 40vw;
  padding-bottom: 5vh;
}
#contactFooter {
  background-image: url("/public/backgrounds/bg-5.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
  background-color: #0000007a;
}
